<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807318025401-pobtpdt4c277urhqq2vr13uc8grh0stj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807318025401-pobtpdt4c277urhqq2vr13uc8grh0stj</string>
	<key>API_KEY</key>
	<string>AIzaSyAC3RCTslPgnL6v8KqtE5E-Wt6Nv4rSHJM</string>
	<key>GCM_SENDER_ID</key>
	<string>807318025401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ccom.adarshnotes.cloudnotes</string>
	<key>PROJECT_ID</key>
	<string>my-flutter-cloudnotes</string>
	<key>STORAGE_BUCKET</key>
	<string>my-flutter-cloudnotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807318025401:ios:afde4a10c65f02132d5768</string>
</dict>
</plist>